{{#if success}}
<div class="alert alert-success" role="alert">
    <div class="alert-icon">✓</div>
    <div class="alert-content">
        <p class="alert-message">{{success}}</p>
    </div>
</div>
{{/if}}
